#sidebar-wrapper {
  border-right: 1px solid rgba(128, 128, 128, 0.448);
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 4px 0 6px -1px rgba(0, 0, 0, 0.1);
  padding-top: 4.5rem;
  .nav-item:hover {
    background-color: var(--primary-color);
    opacity: 0.9;
  }
}
